<h2>
  <%= link_to 'Go to the index', root_url %>
</h2>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="well">
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading"><%= @comment.author_name %>
              <small>
                Posted <%= time_ago_in_words(@comment.created_at) %> ago.
              </small>
              <small><%= link_to "edit", edit_comment_path %></small>
              <small><%= link_to "delete", @comment, method: :delete,
                         data: { confirm: "Are you sure?" } %></small>
            </h4>
              <%= @comment.content %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
